body {
    padding-bottom: 10px;
    max-width: 700px;
}

.saved-alert .saved-alert-box {
    box-shadow: 0 0 10px #24CCCC;
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}
.saved-alert {
    z-index: 10;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    text-align: center;
    transition: top 0.4s;
}
.saved-alert.show {
    top: 0px;
}

.btn-group.dont-wrap-btn-group {
    display: flex;
}

.list.rule-list {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    position: relative;
}

.rule-list .listitem {
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    height: 32px;
    justify-content: space-around;
    line-height: 20px;
    margin: 0;
    padding: 0 3px;
    position: relative;
    transition: 150ms background-color;
    white-space: nowrap;
    -webkit-user-select: none;
}

.rule-list .listitem:not(.disabled):hover {
    background-color: rgb(228, 236, 247);
}

.rule-list .col {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    -webkit-box-align: center;
    -webkit-padding-end: 1ex;
    box-sizing: border-box;
}

.rule-list .url-column {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rule-list .text-display,
.rule-list input {
    width: 100%;
    padding: 3px;
}

.list .row-delete-button {
  -webkit-transition: 150ms opacity;
  background-color: transparent;
  /* TODO Replace with real images once they are available. */
  background-image: -webkit-image-set(
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) 1x,
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAA9UlEQVR4Xu3UsWrCUByH0fMEouiuhrg4xohToJVGH0CHLBncEwfx/VvIFHLJBWmHDvKbv7PcP9f3L/fXwBsApZSRpUpEgbOnxwiReng6x4AvjdrNXRLkibubWqMcB9Yujk7qjhjmtZOji/U4wELuoBwQXa50kFsQA5jK+kQ/l5kSA4ZEK5Fo+3kcCIlGM8ijQEhUqkEeBUKiUPTyl4C5vZ1cbmdv/iqwclXY6aZwtXoFSLQqhVwmkytUWglxAMG7T0yCu4gD0v7ZBKeVxoEwFxIxYBPmIWEzDnyEeUj4HAfYdvmMcGYdsSUGsOzlIbHEv/uV38APrreiBRBIs3QAAAAASUVORK5CYII=) 2x);
  border: none;
  display: block;
  height: 16px;
  opacity: 1;
  width: 16px;
}

.list > .listitem:not(:hover):not(.selected) .row-delete-button,
.list > .listitem.disabled .row-delete-button,
.list > .listitem .row-delete-button.disabled {
  opacity: 0;
  pointer-events: none;
}

.list .listitem .row-delete-button {
  opacity: 1;
}

.list .row-delete-button:hover {
  background-image: -webkit-image-set(
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqUlEQVR4XqWRMQqEMBBF/1E8Ra6x6V3FRnS9QbCxtJg6Z7CzE9lTiIXXyUb3C8EULixDIMM8Zt4kcDfxM5A45U+cgeXnC1tREgkzAgob3hiq3CUHvGLG4FTQoSgxQGDrzN8WTLBGnx2IVDksen9GH7Z9hA5E6uxABMJyCHDMCEGHzugLQPPlBCBNGq+5YtpnGw1Bv+te15ypljTpVzdak5Opy+z+qf//zQ+Lg+07ay5KsgAAAABJRU5ErkJggg==) 1x,
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAB4UlEQVR42u2VsWoCQRBAh+MUFP0C1V9QD4NEOxs9xBQHQVCwSJFWVBAtBNXCxk6wTkBJYUTwEwQLC61E8QP0NzZzt5g5726DkC7EYWHZ8T3WndkV2C/jLwn4hwVYBIdLn9vkLp79QcBCTDMiy3w2gQ9XeTYkEHA8vqj2rworXu3HF1YFfSWgp5QFnKVLvYvzDEKEZ5hW70oXOCtcEbQLIkx7+IQtfMBSOjU6XEF4oyOdYInZbXyOuajjDlpNeQgleIUJKUz4BDMledhqOu/AzVSmzZ49CUjCC0yvim98iqtJT2L2jKsqczsdok9XrHNexaww415lnTNwn6CM/KxJIR8bnUZHPhLO6yMoIyk2pNjLewFuE5AiY1KMMQx8Q7hQYFek4AkjxXFe1rsF84I/BTFQMGL+1Lxwl4DwdtM1gjwKohgxyLtG7SYpxALqugOMcfOKN+bFXeBsLB1uulNcRqq7/tt36k41zoL6QlxGjtd6lrahiqCi1iOFYyvXuxY8yzK33VnvUivbLlOlj/jktm0s3YnXrNIXXufHNxuOGasi8S68zkwrlnV8ZcJJsTIUxbLgQcFZWE8N0gau2p40VVcM0gYeFpSRK6445UhBuKiRgiyKw+34rLt59nb1/7+RwReVkaFtqvNBuwAAAABJRU5ErkJggg==) 2x);
}

.list .row-delete-button:active {
  background-image: -webkit-image-set(
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAQklEQVR4AWP4TwBSTQGDHcMZIIYAKA9VwRkwtINJgyCaCTAlCBaKAoQ+hFmoCqBKENKkK8C0gpAjCXuTyICiQ2QBAPSwyG3ByZlCAAAAAElFTkSuQmCC)
          1x,
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAA/ElEQVR4Xu3UsWrCUBiG4efGlIBoIMFbcnYolYJ3pg4iKGrGYFTRwaUFhYAekiDt0EG++X2W83N8/3J/DbwBMJJSsdQItcDY1VlCOImzq3Ed8OmicHASB3ns5KBw8VUNpDJrW7uAiJ3sbK1l0mqArpmFTUlQ5jYWZrrUAUSmT0SZm4qoA56JvVhs/5g3A7RLolA85A1ASOTye65NMxASK6syfxGITMzvMxG9CvRkliWwlOm9AsSOcitzU1NzK7mjuBkQvHtLK7iLBiB5PhttJSGpB8I8vM6kDuiHeUjoVwMfYR4SRtUAw1veIZzOjRhSBzCoyKFjgH/3K7+BHzg+Cgw0eSW3AAAAAElFTkSuQmCC)
          2x);
}

.custom-btn {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: 0;
}

.custom-btn:focus {
    background-color: aliceblue;
}

dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: 0s;
}

.dropdown-menu.open {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.dropdown-menu > div {
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 3px;
    cursor: pointer;
}

.dropdown-menu > div:not(:last-child) {
    border-bottom: 0;
}

.dropdown-menu > div:last-child {
    border-radius: 0 0 2px 2px;
}

.dropdown-menu > div:hover {
    background-color: rgb(228, 236, 247);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
