<!DOCTYPE html>
<html>
    <head>
        <title>Options for TabStopper</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="options.css">
    </head>
    <body ng-app="options" ng-controller="options" class="container">
        <div class="saved-alert" ng-class="{show:settingsSaved}">
            <span class="saved-alert-box">
                Settings saved
            </span>
        </div>

        <h4>Tabs will be closed when</h4>
        <table class="table table-bordered">
            <thead>
                <td>The urls contain</td>
                <td>and they match each other</td>
            </thead>
            <tr ng-repeat="(url, match) in rules track by url"
                ng-class="{active:editing(url)}">
                <td>{{url}}</td>
                <td>{{matchCopy[match]}}</td>
                <td>
                    <div class="dont-wrap-btn-group btn-group">
                        <button class="btn btn-default"
                            ng-click="editRule(url, match)">Edit</button>
                        <button class="btn btn-danger"
                            ng-click="deleteRule(url)">&times;</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input required type="text" class="form-control"
                    ng-model="rule.url"/>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                            {{matchCopy[rule.match]}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(match,copy) in matchCopy">
                                <a href ng-click="rule.match = match">
                                    {{copy}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary"
                        ng-class="{disabled:!rule.url}"
                        ng-click="saveRule(rule.url, rule.match)">Save</button>
                </td>
            </tr>
        </table>

        <h4>Other settings</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="close"/>
                Close tab when link for another tab is clicked in popup
            </label>
        </div>


        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="rules.js"></script>
        <script src="options.js"></script>
    </body>
</html>

