<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="popup.css">
    </head>
    <body ng-app="popup" ng-controller="popup">

        <h3>This page is open in {{tabs.length}} tabs</h3>

        <div ng-if="exacts.length">
            <h4>{{pluralizeMsg(exacts.length)}} exactly matching</h4>
            <ul>
                <li ng-repeat="tab in exacts track by tab.id">
                    <a href ng-click="focusTab(tab)">
                        {{tab.title}} ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="matchesExceptHash.length">
            <h4>{{pluralizeMsg(matchesExceptHash.length)}} matching the current
                url except for the #hash value</h4>
            <ul>
                <li ng-repeat="tab in matchesExceptHash track by tab.id">
                    <a href ng-click="focusTab(tab)">
                        #{{tab.url.split('#')[1]}} ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="matchesOnlyBase.length">
            <h4>{{pluralizeMsg(matchesOnlyBase.length)}} matching up to the ?
            </h4>
            <ul>
                <li ng-repeat="tab in matchesOnlyBase track by tab.id">
                    <a href ng-click="focusTab(tab)">
                        {{(tab.url.split('?')[1]||'no params')|limitTo:15}}{{
                        tab.url.split('?')[1].length > 15 ? '...':''}}
                        ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="popup.js"></script>
    </body>
</html>
