<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="popup.css">
    </head>
    <body ng-app="popup" ng-controller="popup" class="container">

        <h4>This page is open in {{tabs.length}} tabs</h4>

        <div ng-if="exacts.length">
            <h5>{{pluralizeMsg(exacts.length)}} exactly matching</h5>
            <ul>
                <li ng-repeat="tab in exacts track by tab.id">
                    <a href ng-click="goto(tab)">
                        {{tab.title}} ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="matchesExceptHash.length">
            <h5>{{pluralizeMsg(matchesExceptHash.length)}} matching the current
                url except for the #hash value</h5>
            <ul>
                <li ng-repeat="tab in matchesExceptHash track by tab.id">
                    <a href ng-click="goto(tab)">
                        #{{tab.url.split('#')[1]}} ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="matchesOnlyBase.length">
            <h5>{{pluralizeMsg(matchesOnlyBase.length)}} matching up to the ?
            </h5>
            <ul>
                <li ng-repeat="tab in matchesOnlyBase track by tab.id">
                    <a href ng-click="goto(tab)">
                        {{(tab.url.split('?')[1]||'no params')|limitTo:15}}{{
                        tab.url.split('?')[1].length > 15 ? '...':''}}
                        ({{tab.index}})
                    </a>
                </li>
            </ul>
        </div>

        <p>Click to go to tab</p>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="closeTab">
                Also close current tab on click
            </label>
        </div>

        <hr>

        <div class="form-group">
            <p>Add a rule to close tabs that match</p>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="matchOption" value="hash"/>
                    everyting except the #hash
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="matchOption" value="base"/>
                    up to the ?query=params
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="matchOption" value="exact"/>
                    exactly
                </label>
            </div>

            <p>For all pages on</p>
            <input type="text" ng-model="ruleUrl" class="form-control"/>
        </div>
        <div class="form-group clearfix">
            <button ng-click="saveRule()"
                class="btn btn-primary pull-right">
                Save rule
            </button>
        </div>


        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="popup.js"></script>
    </body>
</html>
