dropdown {
    position: relative;
}

.dropdown-menu {
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0s;
}

.dropdown-menu.open {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.dropdown-menu > div {
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 2px 5px;
    cursor: pointer;
}

.dropdown-menu > div:not(:last-child) {
    border-bottom: 0;
}

.dropdown-menu > div:last-child {
    border-radius: 0 0 2px 2px;
}

.dropdown-menu > div:hover {
    background-color: rgb(228, 236, 247);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
