<!DOCTYPE html>
<html>
    <head>
        <title>Options for TabStopper</title>
        <link rel="stylesheet" href="options.css">
    </head>
    <body ng-app="options" ng-controller="options" class="container">
        <div class="saved-alert" ng-class="{show:settingsSaved}">
            <span class="saved-alert-box">
                Settings saved
            </span>
        </div>

        <h4>Tabs will be closed when</h4>
        <div class="list rule-list" role="list">
            <div class="listitem disabled" role="listitem">
                <div class="col url-column">
                    The urls contain
                </div>
                <div class="col match-column">
                    And they match each other's urls
                </div>
                <div class="row-delete-button"></div>
            </div>
            <div class="listitem" role="listitem"
                ng-repeat="(url, match) in rules track by url"
                ng-class="{selected: selected == url}">
                <div class="col url-column">
                    <div class="text-display">
                        {{url}}
                    </div>
                </div>
                <div class="col match-column">
                    <div class="text-display">
                        {{matchCopy[match]}}
                    </div>
                </div>
                <div class="row-delete-button" tabindex="0"
                    title="Delete this item"></div>
            </div>
            <div class="listitem" role="listitem">
                <div class="col url-column">
                    <input tabindex="-1" ng-model="newRule.url"
                    placeholder="Add a new url part to match">
                </div>
                <div class="col match-column">
                    <div class="col">
                        <dropdown options="matchCopy" value="newRule.match">
                        </dropdown>
                    </div>
                    <div class="col">
                        <button class="custom-btn" ng-click="addRule()"
                            ng-disabled="!newRule.url">Add rule</button>
                    </div>
                </div>
                <div class="disabled row-delete-button"></div>
            </div>
        </div>

        <h4>Other settings</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="close"/>
                Close tab when link for another tab is clicked in popup
            </label>
        </div>


        <!-- build:js -->
        <script src="bower/angular/angular.min.js"></script>
        <script src="bower/lodash/lodash.min.js"></script>
        <script src="bower/jquery/dist/jquery.min.js"></script>
        <script src="common/settings.js"></script>
        <script src="common/dropdown.js"></script>
        <script src="options.js"></script>
        <!-- endbuild -->
    </body>
</html>
